.login-register-wrapper  {
  height: 560px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .2);
  overflow: hidden;
  color: #fff;
  background: linear-gradient(180deg, rgba(118,118,120,0.8931547619047619) 0%, rgba(170,170,181,0.8127626050420168) 39%, rgba(245,249,250,0) 87%);
}

/* nav-buttons*/
.nav-buttons {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
}
button {
  font-size: 1.5em;
  margin-right: 1em;
  border: 0px;
  cursor: pointer;
}
button:focus {
  outline: 0px;
}
button.active {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

/*footer: forgot section*/
.forgot-panel {
  position: relative;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  border-top: solid 1px rgba(255, 255, 255, .3);
}

/*form styling*/
.form-group input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .2);
}

.form-group label {
  text-transform: uppercase;
}

input.submit {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(179, 177, 173, 1);
  cursor: pointer;
  outline: none;
}

/* Form positioning and animation*/
form#registrationForm {
  left: 500px;
  top: -230px;
  position: relative;
}

.forgot-panel {
  margin-top: -300px;
  color: red;
}

form, .forgot-panel {
  position: relative;
  transition: all .2s ease;
}

#loginBtn, 
#registerBtn {
  transition: all .2s ease;
}